In [1]:
import mysql.connector

# Connecting to mysql database

In [2]:
mydb = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Veera@123",
    database="mydatabase1"
    
)
# creating a cursor

mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for i in mycursor:
    print(i)

('data_employee',)
('information_schema',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sales',)
('sys',)

# Use preferred db from above

In [3]:
query_u = "USE data_employee"
mycursor.execute(query_u)

# Get Tables in it

In [4]:
mycursor.execute("SHOW TABLES")
for i in mycursor:
    print(i)

('customer_table',)
('customer_view',)
('department_dataset',)
('employee',)
('employee_table',)

# Select and Insert operations

In [5]:
query_s = "SELECT * FROM customer_table"
# mycursor.execute(query_s)
# or 
# fetching all with function
mycursor.execute("SELECT * FROM customer_table")
myresult= mycursor.fetchall()
for i in myresult:
    print(i)

# INSERTING a row in a table
query_i = "INSERT INTO customer_table (cust_id,cust_name , age,address) VALUES(8,'venni',23,'kodhada')"
mycursor.execute(query_i)

mycursor.execute("SELECT * FROM customer_table")
myresult= mycursor.fetchall()
for i in myresult:
    print(i)

(1, 'veera', 22, 'kadapa')
(2, 'ajay', 22, 'rajamundry')
(3, 'rahul', 23, 'Ananthapur')
(4, 'aniket', 22, 'proddutur')
(5, 'sreekanth', 22, 'narpala')
(6, 'chandana', 22, 'Rayachoty')
(1, 'veera', 22, 'kadapa')
(2, 'ajay', 22, 'rajamundry')
(3, 'rahul', 23, 'Ananthapur')
(4, 'aniket', 22, 'proddutur')
(5, 'sreekanth', 22, 'narpala')
(6, 'chandana', 22, 'Rayachoty')
(8, 'venni', 23, 'kodhada')

# Deleting a row

In [6]:
# DELETING a row in table

query_d = "DELETE FROM customer_table WHERE cust_id=8"
mycursor.execute(query_d)

mycursor.execute("SELECT * FROM customer_table")
myresult= mycursor.fetchall()
for i in myresult:
    print(i)

(1, 'veera', 22, 'kadapa')
(2, 'ajay', 22, 'rajamundry')
(3, 'rahul', 23, 'Ananthapur')
(4, 'aniket', 22, 'proddutur')
(5, 'sreekanth', 22, 'narpala')
(6, 'chandana', 22, 'Rayachoty')

# Update a value

In [7]:
query_u = "UPDATE customer_table SET age=23 WHERE cust_name='chandana'"
mycursor.execute(query_s)
for i in mycursor:
    print(i)

(1, 'veera', 22, 'kadapa')
(2, 'ajay', 22, 'rajamundry')
(3, 'rahul', 23, 'Ananthapur')
(4, 'aniket', 22, 'proddutur')
(5, 'sreekanth', 22, 'narpala')
(6, 'chandana', 22, 'Rayachoty')

# Where condition

In [8]:
query_s1= "SELECT * FROM customer_table where age=22"
mycursor.execute(query_s1)

# Fetchall function

age_persons=mycursor.fetchall()
for i in age_persons:
    print(i)

# WildCard character

In [10]:

query_wild="SELECT * FROM customer_table where cust_name LIKE 've%'"
mycursor.execute(query_wild)
for i in mycursor:
    print(i)

(1, 'veera', 22, 'kadapa')

# Order by (or) Sort

In [11]:
#order by 
query_o = "SELECT * FROM customer_table ORDER BY cust_id desc"
mycursor.execute(query_o)
for i in mycursor:
    print(i)

(6, 'chandana', 22, 'Rayachoty')
(5, 'sreekanth', 22, 'narpala')
(4, 'aniket', 22, 'proddutur')
(3, 'rahul', 23, 'Ananthapur')
(2, 'ajay', 22, 'rajamundry')
(1, 'veera', 22, 'kadapa')

# Limit

In [13]:
#limit
mycursor.execute("SELECT * FROM customer_table LIMIT 5 OFFSET 2")
for i in mycursor:
    print(i)

(3, 'rahul', 23, 'Ananthapur')
(4, 'aniket', 22, 'proddutur')
(5, 'sreekanth', 22, 'narpala')
(6, 'chandana', 22, 'Rayachoty')

# Disconnect from server

In [ ]:
#disconnect from server
mydb.close()